.my-homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    height:100%;
    width:100%;
    left: 0;
    top: 0;
    overflow:auto;
    border: solid 1px #dbdbdb;
}