.my-custom-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 55px;
    top: 0;
    width: 100%;
    padding: 25px 80px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    transition: height .2s ease-in-out;
    z-index: 1;
}

.my-custom-navbar ul {
    margin: 0px;
}

.navbar-logo {
    padding: 0px 50px;
}

.navbar-logo a {
    text-decoration: none !important;
    color: inherit;
}

.navbar-right-item-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0px 50px;
}

.navbar-right-item-wrapper a {
    text-decoration: none !important;
    color: inherit;
}

.navbar-right-item {
    margin-left: 15px;
}